{% extends "base.html" %}

{% block head %}
    <title>Add Session</title>
{% endblock %}

{% block header %}
    <h1 align="center" class="display-4">SESSION CREATION</h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'home' %}"><button class="btn btn-secondary"> Back </button></a>
{% endblock %}

{% block content %}
    <div align="center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success"> Add </button>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <li style= "color:red;">
                            {{ message }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}