{% extends "base.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block header %}
	<h1 align="center" class="display-4"> LOGIN </h1>
{% endblock %}

{% block nav %}
	{% if not request.user.is_authenticated %}

		<span> Not Registered Yet? <a href="{% url 'register' %}"><button type="button" class="btn btn-warning"> Register </button></a></span>
	{% else %}
		<a href="{% url 'home' %}"><button class="btn btn-secondary" style="margin-right: 10px;"> Homepage </button></a>
		<a href="{% url 'logout' %}"><button type="button" class="btn btn-warning"> Log Out </button></a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if not request.user.is_authenticated %}
		<div align="center">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Войти" class="btn btn-success">
		</form>
		</div>
	{% else %}
		<span> You already registered as {{request.user}} </span>
	{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}