{% extends "base.html" %}

{% block head %}
    <title>Registration</title>
{% endblock %}

{% block header %}
	<h1 align="center" class="display-4">REGISTRATION</h1>
{% endblock %}

{% block nav %}
	<a href="{% url 'home' %}"><button class="btn btn-secondary"> Back </button></a>
{% endblock %}

{% block content %}
	<div align="center">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-success">Register</button>
		</form>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}