{% extends "base.html" %}

{% block head %}
    <title>Session Update</title>
{% endblock %}

{% block header %}
    <h1 align='center' class="display-4">SESSION UPDATE</h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'home' %}"><button type="button" class="btn btn-secondary"> Back </button></a>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success"> Update </button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}